

html {
    background-color: #731516;
}

* {
    color: red;
}

html {
    height: 100%;
    margin-bottom: 2em;
}

body {
    height: 100%;
}

div.pildora {
    margin-top: auto;
    margin-right:auto;
    margin-bottom:auto;
    padding-left: 10%;
    padding-right: 10%;
    min-height: 60%;
}

#local {
    margin-left: 10%;
}

.mostrar-estado {
    padding-left:10%;
    display:inline-block;
    width:100%;
    background-color:#731516;
    font-family: 'Open Sans', sans-serif;
}

.mostrar-estado p {
    font-family: 'Open Sans', sans-serif;
    margin:0px;

    color: gray;
    text-shadow: 0 0 4px #222, 0 0 13px #333;
}



div.pildora p{
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;

    text-shadow: 0 0 4px #200, 0 0 13px #400;
}

div.pildora a {
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;

    text-decoration: underline;
    text-shadow:  0 0 2px #200, 0 0 4px #400, 0 0 10px #f00;
}

h1,h2 {
    font-family: 'Lobster', cursive;
}

.ocu {
    display:none!important;
}

.pildora a {
    
    /*padding-bottom: 0.3em;*/
    padding-right: 0.3em;
  
    margin-bottom: 0.1em;
    margin-top: 0.3em;
    display: inline-block;  
}

a:hover {
    text-shadow: 0 0 8px #200, 0 0 20px #f00!important;
    font-weight:bold;
}

hr {
    color:gray;
    border:1px solid #400;
}

a.solapa {
    display:block;
    width:100%;
    height:2em;
    padding-left:0.8em;
    padding-top:0.4em;
    border-top: 1px solid orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;

    border-radius: 8px;
    background: linear-gradient(180deg, #a34800 0%, rgba(115,21,22,1) 30%);
    background: linear-gradient(170deg, #333 0%, rgba(115,21,22,1) 30%);
}

a.solapa:hover {
    border:2px solid;
}

.arrow {
    border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }