

html {
    background-color: #731516;
}

* {
    color: red;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

div.pildora {
    margin-top: auto;
    margin-right:auto;
    margin-bottom:auto;
    padding-left: 10%;
    padding-right: 10%;
    min-height: 60%;
}

.mostrar-estado {
    /*margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;*/

    position:absolute;
    left: 10%;
    bottom: 2em;

    font-family: 'Open Sans', sans-serif;
}

.mostrar-estado p {
    font-family: 'Open Sans', sans-serif;
    margin:0px;

    color: gray;
    text-shadow: 0 0 4px #222, 0 0 13px #333;
}



div.pildora p{
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;

    text-shadow: 0 0 4px #200, 0 0 13px #400;
}

div.pildora a {
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;

    text-decoration: underline;
    text-shadow:  0 0 2px #200, 0 0 4px #400, 0 0 10px #f00;
}

h1,h2 {
    font-family: 'Lobster', cursive;
}

.ocu {
    display:none!important;
}

.pildora a {
    
    /*padding-bottom: 0.3em;*/
    padding-right: 0.3em;
  
    margin-bottom: 0.1em;
    margin-top: 0.3em;
    display: inline-block;  
}

a:hover {
    text-shadow: 0 0 8px #200, 0 0 20px #f00!important;
    font-weight:bold;
}

hr {
    color:gray;
    border:1px solid #400;
}

