
<div class="pildora ocu" data-estado="suegno"  data-local="suegno">
    <p>Abres los ojos a un paisaje blanco. Suelo blanco y cielo blanco. Hay una mesa alargada, y en un extremo una chica. La niña esta comiendo algo. Insintivamente sabes que es la matriarca.</p>
    <p>Hay un anciano en un lado, tumbado en un enorme sillon, parece reposar tomando el sol.</p>

    <a data-next="matriarca">Hablar con la matriarca</a><br>
    <a data-next="anciano">Hablar con el anciano</a><br>

    <a data-next="dormir_hasta_la_noche" class="solapa">Terminar el sueño</a><br>
</div>

<div class="pildora ocu" data-estado="matriarca"  data-local="suegno">
    <p>Te acercas a la matriarca, es una chica de unos 16 años, de piel muy blanca y pelo azul. </p>
    <p>Al acercarte puedes ver lo que esta comiendo, son orejas.</p>
    <p>Te ve y te habla:</p>
    <p class="npctalk">"Acercate, no te voy a morder"</p>

    <a data-next="matriarca_conquista">Conquista del mundo <i class="arrow right"></i></a><br>
    <a data-next="matriarca_origen">Origen de los vampiros <i class="arrow right"></i></a><br>
    <a data-next="matriarca_biologia">Biologia vampirica <i class="arrow right"></i></a><br>
    <a data-next="suegno">Terminar de hablar <i class="arrow right"></i></a><br>
</div>

<div class="pildora ocu" data-estado="anciano" data-local="suegno">
    <p>Caminas hasta el anciano. Abre los ojos y te mira, sus ojos cambian de color de blanco a verde. Parece sonreir un poco...</p>
    <p class="npctalk">"Haz tus preguntas, intentare responderte"</p>
    <a data-next="anciano_jugar">Como jugar <i class="arrow right"></i></a><br>
    <a data-next="anciano_facciones">Facciones <i class="arrow right"></i></a><br>
    <a data-next="anciano_muerte">Muerte <i class="arrow right"></i></a><br>
    <a data-next="anciano_humanidad">Humanidad <i class="arrow right"></i></a><br>
    <a data-next="anciano_zombies">Zombies <i class="arrow right"></i></a><br>
    <a data-next="suegno">Terminar de hablar <i class="arrow right"></i></a><br>
</div>


<div class="pildora ocu" data-estado="anciano_jugar" data-local="suegno">
    <p class="npctalk">"Lo que tu hagas, depende de ti. Toma tus decisiones. Puedes conquistar el mundo o permacer en las sombras. Cada decision que tomes puede acercate o alejare de ese objetivo. A veces ocurriran imprevistos, tendras que lidiar con ellos."</p>

    <a data-next="anciano">otro tema <i class="arrow right"></i></a><br>
</div>

<div class="pildora ocu" data-estado="anciano_facciones" data-local="suegno">
    <p class="npctalk">"No eres la unica faccion en el mundo. No pienses que no te observan. Estas facciones normalmente te ignoraran, pero puedes create enemigos.  Si te creas un enemigo y este es poderoso, es posible que decidan atacarte. Balancea bien tus decisions."</p>

    <a data-next="anciano">otro tema <i class="arrow right"></i></a><br>
</div>

<div class="pildora ocu" data-estado="anciano_muerte" data-local="suegno">
    <p class="npctalk">"Los vampiros somos inmortales, ¿no te lo han dicho?. No quiere decir que no puedas morir. Y cuando mueras, podras continuar dirigiendo tu familia desde otro cuerpo. Siempre que tu familia tenga miembros, podras continuar con esta familia. Si todos los miembros mueren, tendras que seguir con algun otro cuerpo."</p>

    <a data-next="anciano">otro tema <i class="arrow right"></i></a><br>
</div>

<div class="pildora ocu" data-estado="anciano_humanidad" data-local="suegno">
    <p class="npctalk">"Normalmente los vampiros se esconden.  Nuestro alimento son los humanos, y los humanos son listos y peligrosos.  Si los humanos supieran que los vampiros existen, bueno... ellos podrian cazar los vampiros hasta exterminalos. Este es el orden del mundo en el vivimos. El gran equilibrio. Otras facciones dependen de este equilibrio, y podrian atacarte si pones en riesgo el equilibrio."</p>

    <a data-next="anciano">otro tema <i class="arrow right"></i></a><br>
</div>

<div class="pildora ocu" data-estado="anciano_zombies" data-local="suegno">
    <p class="npctalk">"¿Ya has creado zombies?, son utiles. Seres sin mente creados a partir de los humanos robandoles la voluntad.<br> No es cierto, no te dejes engañar por los zombies. Fueron creados desde los humanos, y aun son humanos con almas humanas. No fabriques demasiados, y vigila que no crezcan en numero por ellos mismos. Podrian acabarnos a todos."</p>
    <p class="npctalk">"Quizas la matriarca quiera contarte mas del tema."</p>

    <a data-next="anciano">otro tema <i class="arrow right"></i></a><br>
</div>

<div class="pildora ocu" data-estado="matriarca_conquista">
    <p class="npctalk">"Oh, hermoso, hermoso, hermoso... ¿Trabajaras para mi?. ¿o seguiras en las sombras?.<br> Los vampiros somos mas poderosos que los humanos. Esta raza, la de los humanos, puede ser conquistada. Y yo te ayudare a lograrlo. Hahahaha... ¡va a ser glorioso!"</p>
    <p class="npctalk">"Hay formas y maneras de conseguir poder. Infiltrate en la humanidad, y mantenla en la ignorancia.  Investiga y construye panteones a dioses antiguos. Libera demonios y haz pactos con ellos. Crea un ejercito."</p>

    <a data-next="matriarca">otro tema <i class="arrow right"></i></a><br>
</div>

<div class="pildora ocu" data-estado="matriarca_origen">
    <p class="npctalk">"El origen de los vampiros. Una maldicion.  Jajajaja. Una forma de ocultarse a la vista."</p>
    <p class="npctalk">"Los vampiros mas poderosos hablan de un ser en la sombra, muy poderoso. Un enemigo o un aliado, fue la fuente de nuestro poder, pero solo la fuente, ahora nuestro poder es nuestro."</p>
    <p class="npctalk">"Seguramente fue hace cientos de miles de años.  Los vampiros mas viejos lo saben, pero son raros, es dificil hablar con ellos. No han dejado de ser seres primitivos y pinsan de forma primitiva."</p>

    <a data-next="matriarca">otro tema <i class="arrow right"></i></a><br>
</div>

<div class="pildora ocu" data-estado="matriarca_biologia">
    <p class="npctalk">"¿Vamos a tener la charla?, jajaja.  Bueno. cuando una abejita quiere mucho a otra abejita...  Pues esto no funciona asi con los vampiros.  Simplemente morder un humano lo infecta de la maldicion. Pero eso no lo vuelve un vampiro. Para volverse un vampiro real debe unirse a una familia. ¿No pensaras que el vampirismo es una enfermedad?, no es nada de eso, es una maldicion. Infecta y crea y da forma, pero es algo magico. <br>Lo siento si no es lo que esperabas oir. Asi son las cosas, querido. Ayudame, ayudame a salir de aqui y descubriremos mas. Sacaremos a la bestia que se esconde en la oscuridad."</p>
    
    <p class="npctalk">"Los zombies, son problematicos. Te lo habra dicho el viejo, ¿no?. Hace mucho tiempo hubo un apocalipsis zombie, convirtieron a otros en zombies hasta cubrir la tierra. Los humanos se habrian extinguido si no hubieramos protegido unos pocos. Cada zombie individual es una cascara vacia, pero cuantos mas hay, mas inteligente es el grupo. Pensamiento de colmena. <br> Con los humanos es al reves... ¿no es curioso?, cuantos mas hay, mas tontos son."</p>
    <p class="npctalk">"Sin embargo los zombies son una mano de obra que no para nunca de trabajar y sigue las ordenes que se les da. Tambien pueden servir para defender tu nido contra atacantes. Solo son una herramienta."</p>

    <p class="npctalk">"Puedes infectar a humanos sin convertirlos en zombies o vampiros. La conexion telepatica te permite influir en sus decisiones, borrar su memoria y quizas incluso controlarlos directamente."</p>


    <a data-next="matriarca">otro tema <i class="arrow right"></i></a><br>
</div>