<div class="pildora ocu" data-estado="muerte_luz_solar" data-local="ether">
    <p>Todo se vuelve luminoso...</p>
    <p>Miras tus manos y estan en llamas, pero enseguida tampoco ves bien, tus ojos tambien estan en llamas.</p>
    <p>Pero eso solo dura unos segundos, tu vision se oscure, y es como si te desconectaras de tu cuerpo</p>
    <p><br></p>
    <p>Has muerto, salio el sol y tu cuerpo estallo en llamas.</p>
    <a data-next="renacer">Renacer</a><br>
</div>

<div class="pildora ocu" data-estado="renacer" data-local="ether">
    <p>Un vampiro ha muerto, pero en una cueva lejana otro vampiro despierta...</p>
    <a data-next="inicio">Iniciar</a><br>
</div>

